version: '3'
services:
  ipfs-dameon:
    image: golang:alpine
    volumes:
      - ./go-ipfs:/ipfs
      - ./storage-ipfs:/storage
      - ./conf-ipfs:/conf
    networks:
      - outside
    environment:
      - PATH=/ipfs:$PATH
      - IPFS_PATH=/storage
    deploy:
      resources:
        limits:
          cpus: '4.00'
          memory: 768M
        reservations:
          cpus: '2.00'
          memory: 512M
    command: ipfs daemon --enable-pubsub-experiment
  ipfs-nginx:
    image: nginx
    networks:
      - outside
    volumes:
      - /watorvapor/cert/www.wator.xyz:/etc/certs/www.wator.xyz
      - ./conf-nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./conf-nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./conf-nginx/tcp.conf.d:/etc/nginx/tcp.conf.d:ro
    deploy:
      resources:
        limits:
          cpus: '1.00'
          memory: 32M
        reservations:
          cpus: '0.2'
          memory: 16M    
networks:
  outside:
    external:
      name: "host"

