[Unit]
Description=Wator wai  wiktionary cn spider

[Service]
Type=simple
ExecStart=/watorvapor/wai.storage/wiktionary/wai.native.wator/ipfs-wikidump/zhwiki.sh
ExecStop=/bin/kill ${MAINPID}
Restart=no

[Install]
WantedBy=default.target
