[Unit]
Description=Wator wai  wiktionary spider
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/watorvapor/wai.storage/wiktionary/wai.native.wator/wiktionary/ja.run.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
