[Unit]
Description=Wator wai  wiktionary spider

[Service]
Type=simple
ExecStart=/watorvapor/wai.storage/wiktionary/wai.native.wator/wiktionary/ja_kan.run.sh
ExecStop=/bin/kill ${MAINPID}
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
